<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="CadenaConexion_IrisLab_LoBarnechea" connectionString="Provider=SQLNCLI11;Data Source=7.174.234.221; Password=Xlab1; User ID=sa; Initial Catalog=IRIS_CMV" providerName="System.Data.OleDB"/>-->
    <!--<add name="CadenaConexion_IrisLab_LoBarnechea" connectionString="Provider=SQLNCLI11;Data Source=localhost; Password=xlab; User ID=sa; Initial Catalog=IRIS_HOSP_QUILPUE" providerName="System.Data.OleDB"/>-->
    <!--<add name="CadenaConexion_IrisLab_LoBarnechea" connectionString="Provider=SQLNCLI11;Data Source=192.168.0.47; Password=xlab; User ID=sa; Initial Catalog=IRIS_HOSP_QUILPUE" providerName="System.Data.OleDB" />-->
    <!--<add name="CadenaConexion_IrisLab_LoBarnechea" connectionString="Provider=SQLNCLI11;Data Source=10.5.170.19; Password=xlab; User ID=sa; Initial Catalog=IRIS_HOSP_QUILPUE" providerName="System.Data.OleDB"/>-->
    <!--<add name="CadenaConexion_IrisLab_LoBarnechea" connectionString="Provider=SQLNCLI11;Data Source=200.111.154.66,8087; Password=xlabTUX1; User ID=sa; Initial Catalog=IRIS_HOSP_QUILPUE_NEW" providerName="System.Data.OleDB"/>-->
    <add name="CadenaConexion_IrisLab_LoBarnechea" connectionString="Provider=SQLNCLI11;Data Source=200.111.154.66,11401; Password=Xlab1; User ID=sa; Initial Catalog=IRIS_HOSP_QUILPUE_TEST" providerName="System.Data.OleDB"/>
    <!--   -->
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
	  <customErrors mode="On" defaultRedirect="Error.aspx">
		  <error statusCode="404" redirect="Not_Found.aspx"/>
	  </customErrors>
    <compilation strict="false" explicit="true" targetFramework="4.5.2" debug="true"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="40480"/>
    <!--maxRequestLength Para aumentar el límite de tamaño de archivos para subir-->
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="999999999"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>-->
    <security>
      <requestFiltering>
        <!--<requestLimits maxAllowedContentLength="40971520"></requestLimits>-->
      </requestFiltering>
    </security>
  </system.webServer>
  <!--<system.codedom>
   <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>-->
</configuration>